*{
    padding: 0;
    margin: 0;
}
body{
    background-color: pink;
    font-family: Comic Sans MS, Comic Sans, cursive	;
}
@media screen and (min-width:991px) and (max-width:5000px) {
    header{
        width: 100%;
        height: 100px;
        position: fixed;
        top: 0;
        background-color: rgba(255, 105, 180, 0.9);
        z-index: 99;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    }
    #a6{
        font-size: 300%;
        position: relative;
        top: 0;
        text-align: center;
        color: pink;
        text-shadow: 3px 0 2px #000, -2px 0 0 #fff, 0 2px 0 #000, -2px -3px 0 #fff, 1px 2px #000, -1px -1px 0 #fff, 3px 5px 0 #000, -1px 1px 0 #fff;
        font-weight: 800;
        font-size: 450%;
    }
    .container{
        position: relative;
        top: 100px;
        left: 10%;
        width: 80%;
        height: auto;
        background-image: url("cupcake.jpg");
        border-radius: 50px;
    }
    h1{
        font-size: 380%;
        text-align: center;
        text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    }
    .sandbox{
        position: fixed;
        width: max-content;
        height: auto;
        background-color: purple;
        border-radius: 30px;
        transform: rotate(90deg);
        left: -85px;
        z-index: 1;
    }
    .sandbox p{
        padding: 10px 20px;
        font-size: 1.5rem;
        font-weight: 700;
    }
    .sandbox a{
        text-decoration: none;
        color: black;
    }
    .sandbox a:hover{
        text-decoration: underline;
        color: gray;
    }
    .sandbox:hover{
        left: -50px;
        transition: 300ms ease;
    }
    .prod-all{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .prod{
        border: 3px solid rgb(255, 63, 239);
        border-radius: 10px;
        margin: 30px;
    }
    .prod img{
        width: 100%;
        border-radius: 10px 10px 0 0 ;
    }
    .prod a{
        text-decoration: none;
    }
    .prod p{
        text-align: center;
        font-size: 200%;
        font-weight: 800;
        color: rgb(158, 59, 76);
    }
    .prod p:hover{
        text-decoration: underline;
        color: rgb(254, 115, 138);
    }
    /* =============
    footer 
    =================*/
    footer{
        width: 100%;
        height: 180px;
        background-color: rgb(111, 37, 105);
        position: relative;                                                             
        top: 80px;
        margin-top: 30px;
    }
    footer img{
        width: 10%;
        position: relative;
        left: 46%;
        top: 10px;
    }
    footer b{
        font-weight: 800;
    }
    footer p{
        text-align: center;
        margin-top: 20px;
    }
    footer a{
        text-decoration: none;
        color:rgb(165, 42, 132);
    }
    footer a:hover{
        text-decoration: underline;
        color:rgb(217, 62, 175);
    }
    hr{
        position: relative;
        top: 20px;
    }
    .copy{
        font-weight: 400;
        margin: 30px;
    }
}
@media screen and (max-width:990px) {
    /* =============
    header 
    =================*/
    header{
        width: 100%;
        height: 100px;
        position: fixed;
        top: 0;
        background-color: rgba(255, 105, 180, 0.9);
        z-index: 99;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    }
    #a6{
        font-size: 300%;
        position: relative;
        top: 0;
        text-align: center;
        color: pink;
        text-shadow: 5px 6px 1px black;
        font-weight: 800;
        font-size: 450%;
    }
    .container{
        position: relative;
        top: 100px;
        left: 5%;
        width: 90%;
        height: auto;
        background-image: url("cupcake.jpg");
        border-radius: 50px;
    }
    h1{
        font-size: 380%;
        text-align: center;
        text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    }
    .sandbox{
        display: none;
    }
    .prod-all{
        display: grid;
        grid-template-columns: 1fr;
    }
    .prod{
        border: 3px solid rgb(255, 63, 239);
        border-radius: 10px;
        margin: 30px 50px;
    }
    .prod img{
        width: 100%;
        border-radius: 10px 10px 0 0 ;
    }
    .prod a{
        text-decoration: none;
    }
    .prod p{
        text-align: center;
        font-size: 300%;
        font-weight: 800;
        color: rgb(158, 59, 76);
    }
    /* =============
    footer 
    =================*/
    footer{
        width: 100%;
        height: 300px;
        background-color: rgb(111, 37, 105);
        position: relative;                                                             
        top: 80px;
        margin-top: 30px;
    }
    footer img{
        width: 20%;
        position: relative;
        left: 40%;
        top: 10px;
    }
    footer b{
        font-weight: 800;
    }
    footer p{
        text-align: center;
        margin-top: 20px;
        font-size: 3rem;
    }
    footer a{
        text-decoration: none;
        color:rgb(165, 42, 132);
    }
    footer a:focus{
        text-decoration: underline;
        color:rgb(217, 62, 175);
    }
    hr{
        position: relative;
        top: 20px;
    }
    .copy{
        font-weight: 400;
        position: relative;
        top: 20px;
        font-size: 2rem;
    }
}